[2020-05-27 15:47] marc2332 opened #3 "bug: Response.location doesn't exist"
# Issue
Response object doesn't have the location property, neither redirect.

## Details

Technically, there is a location property on Response object as said here: https://github.com/asos-craigmorten/opine/blob/master/.github/API/response.md#reslocationpath

But there isn't, here a simple example:

I would like the route "/redirect" to redirect to "/home":
[code]
I don't know if I am doing anyth

[2020-05-27 16:10] asos-craigmorten commented on #3
Hi @marc2332 I'll take a look at that now - it is most likely a bug 😂

[2020-05-27 16:21] asos-craigmorten commented on #3
Ah! @marc2332 so there is a small bug in the type definitions which is why your IDE is likely complaining that location does not exist (I had forgotten to uncomment since implementing the method!)

As to why (even if you wrote something like `(res as any).location("/home")`) this isn't redirecting, it is because `res.location()` just sets a `Location` header as per the [Opine docs](https://github.

[2020-05-27 16:41] marc2332 commented on #3
I haven't explained my self very well... 😅 It's not a type error, it literally doesn't exist:

![imagen](https://user-images.githubusercontent.com/38158676/83048062-65d90680-a049-11ea-8c92-6fb842730c8e.png)

[2020-05-27 16:47] marc2332 commented on #3
Thanks ! it worked!

[code]

[2020-05-27 16:47] asos-craigmorten commented on #3
Done. Please refer to the updated API documentation and the location example --> https://github.com/asos-craigmorten/opine/tree/master/examples/location

[2020-05-27 16:47] #3 closed

[2020-05-27 16:49] asos-craigmorten commented on #3
Release in version `0.5.1`.

[2020-05-28 04:53] IrfanAli17899 opened #6 "Router in opine as in express"
# Issue

## Details

I think Opine does not contain Router just like in express if is it then please let us know
const { Router } = require('express');
what is its alternative in Opine thanks in advance.

[2020-05-28 05:14] asos-craigmorten commented on #6
Hi @IrfanAli17899 please refer to the Opine docs on `Router`: https://github.com/asos-craigmorten/opine/blob/master/.github/API/router.md#routeroptions

You can also check out this example: https://github.com/asos-craigmorten/opine/tree/master/examples/multi-router

Overall, the `Router` is a named export of Opine which can be imported using:

[code]

This is subtly different to Express when using

[2020-05-28 05:21] IrfanAli17899 commented on #6
I know require is the part of commonjs here, deno is supporting ECMAScript, so will be imported just wanted to know about router thanks I got the answer :)

[2020-05-28 05:21] #6 closed

[2020-06-17 17:18] tbaumer22 opened #10 "Implement opine into nest.land"
## Details

As we discussed on Discord, it would be great if you could register opine on `nest.land`! I'm going to make a PR with an `egg.json` file already added so you don't have to do this manually.

[2020-06-18 08:14] #10 closed

[2020-06-19 07:56] asos-craigmorten opened #14 "[FEATURE] Upgrade eggs CLI and repository field"
# Issue

Upgrade eggs CLI to version `0.1.3` and add repository field.

[2020-06-19 08:07] asos-craigmorten opened #16 "[BUG] benchmarks fail on fork contributions"
# Issue

Setup:

Benchmark fails on contributions from forks due to permissions error posting a comment to the PR.

## Details

See https://github.com/asos-craigmorten/opine/pull/12. Notes copied below:

[2020-06-19 08:08] #14 closed

[2020-06-20 08:06] asos-craigmorten opened #17 "[FEATURE] Add template rendering support"
# Issue

Add support for template rendering / view engines.

## Details

Add the following public APIs:

- `app.engine()` method
- `app.render()` method
- `res.render()` method

Which will review the following internals / supporting public APIs:

- `View` class
- `app.engines`
- Settings:
  - `view`
  - `views`
  - `view cache`
  - `view engine`

[2020-06-21 10:54] sandeshdamkondwar opened #19 "[CHORE] Change the new default branch in Deno registry"
# Issue

Deno's Third Party modules registry still have master branch as a default branch, please change the default branch to "main". My PR got rejected because I'm not the owner of Opine.

## Details

<img width="1072" alt="Screenshot 2020-06-20 at 8 21 13 PM" src="https://user-images.githubusercontent.com/2510560/85222841-e20e0200-b3db-11ea-8cfb-e604fed41fc1.png">

[2020-06-21 12:28] asos-craigmorten commented on #19
@sandeshdamkondwar really sorry about this - an oversight on my part! I'm raising a PR now.

FYI Opine now also supports the https://nest.land registy - see https://nest.land/package/opine

This registry is less prone to these issues as versions are backed into a blockchain - I'll look to update Opine's readme to add instructions on usage, but should be as simple as importing `https://x.nest.land/

[2020-06-21 12:34] asos-craigmorten commented on #19
Please see: https://github.com/denoland/deno_website2/pull/1195

[2020-06-21 21:32] #17 closed

[2020-06-22 07:31] asos-craigmorten opened #20 "[DOCS] Add instructions for nest.land registry"
# Issue

Add instructions for installation via https://nest.land.

## Details

See https://nest.land/package/opine

[2020-06-22 07:36] asos-craigmorten opened #21 "[FEATURE] Add `app.param()` API"
# Issue

Add the `app.param()` API.

## Details

- Express Docs: https://expressjs.com/en/4x/api.html#app.param
- Express Code: https://github.com/expressjs/express/blob/master/lib/application.js#L309
- Opine Code: https://github.com/asos-craigmorten/opine/blob/main/src/application.ts#L229

[2020-06-22 07:40] asos-craigmorten opened #22 "[FEATURE] Implement `res.redirect()` API"
# Issue

Setup:

Add the `res.redirect()` API

## Details

- Express Docs: https://expressjs.com/en/4x/api.html#res.redirect
- Express Code: https://github.com/expressjs/express/blob/master/lib/response.js#L891
- Opine Code: https://github.com/asos-craigmorten/opine/blob/main/src/response.ts#L407

[2020-06-22 07:49] asos-craigmorten opened #23 "[FEATURE] Support arrays in `res.append()`"
# Issue

Support arrays in `res.append()`.

## Details

Express Docs: https://expressjs.com/en/4x/api.html#res.append

[2020-06-22 07:50] asos-craigmorten opened #24 "[FEATURE] Object and array support for `res.set()`"
# Issue

Support objects and arrays of headers in the `res.set()` API.

## Details

Express Docs: https://expressjs.com/en/4x/api.html#res.set

[2020-06-22 07:52] asos-craigmorten opened #25 "[DOCS] Add MVC example"
# Issue

Add a code example for an MVC application using Opine.

## Details

See https://github.com/expressjs/express/tree/master/examples/mvc for a guideline.

[2020-06-22 08:12] asos-craigmorten opened #26 "[FEAT] Expose proxy Request class for public interface"
# Issue

Currently the Opine `Request` object is a mutated version of the Deno `ServerRequest`. This refactor is to instead create a new `Request` class that is provided to the user, whose methods / properties proxy to the underlying `ServerRequest`.

## Details

As the `body` property of `ServerRequest` is read-only it leads to a jarring interface when Opine body-parsers have to place parsed bodi

[2020-06-22 08:19] asos-craigmorten opened #27 "[REFACTOR] Performance focus"
# Issue

Setup:

This issue is for first draft performance improvements to Opine.

## Details

When first starting out, Opine was up to 2x faster than Express on the benchmarks and a good contender among the other server frameworks Deno currently has on offer.

Given the initial priority of feature parity, performance has been a second class citizen and has suffered, now up to 30% slower than Expr

[2020-06-22 18:21] asos-craigmorten commented on #19
This has been resolved 😄

[2020-06-22 18:21] #19 closed

[2020-06-26 08:09] asos-craigmorten opened #29 "[FEATURE] Automate typedoc updates using GitHub actions"
# Issue

Create a GitHub action to create and merge updates to the typedocs.

## Details

Currently typedoc creation is a manual process which pollutes the PR with dozens of files and detracts from the main work.

This task is to create a GitHub action workflow which is triggered on merges to `main` which will subsequent update the typedocs and merge them in as a subsequent commit.

As a sketch (n

[2020-06-26 16:10] #24 closed

[2020-06-26 17:20] #29 closed

[2020-06-26 18:28] #16 closed

[2020-06-29 11:30] gumberss opened #34 "[FEATURE] Capture errors from async routes"
# Issue

Setup:
-
- Deno Version: 1.1.1
- v8 Version: <replace_with_v8_version>
- Typescript Version: <replace_with_typescript_version>
- Opine Version: main

If you throw an error in an async route, this error won't be caught for an error route

## Details

The error:
![](https://user-images.githubusercontent.com/38296002/85964347-b8327d80-b98f-11ea-8c40-573a1dc5dfb7.png)

The code:

![](https://

[2020-06-29 17:37] asos-craigmorten commented on #34
Decided this is more of a feature than a bug given it isn't handled behaviour in Express either. However, I very much welcome the change 😄

[2020-06-29 17:53] #20 closed

[2020-06-29 21:06] gumberss commented on #34
Oh no!!! I just noticed I used the 'express-async-errors' in my project (facepalm). Yes, it is a feature hahahaha, sorry

[2020-06-30 00:40] #34 closed

[2020-06-30 12:47] #22 closed

[2020-07-02 23:47] rglowrey opened #39 "Error executing sample script from https://deno.land/x/opine"
# Issue

Setup:

- Deno Version: 1.1.2
- v8 Version: 8.5.216
- Typescript Version: 3.9.2
- Opine Version: opine@main/mod.ts
- (environment variable) DENO_INSTALL=/home/rick/.deno

## Details

deno run sampleOpine.ts
Check file:///home/rick/Working/Playpen/deno/OpineTemplate/sampleOpine.ts
error: TS2305 [ERROR]: Module '"./_utils"' has no exported member 'normalizeEncoding'.
import { notImplemented

[2020-07-03 06:45] asos-craigmorten commented on #39
@rglowrey ah yes, saw this is in one of my other repos - one of the subdependencies hasn’t locked its versions causing this issue - I’ll get a patch out this morning shortly.

[2020-07-03 06:51] #23 closed

[2020-07-03 06:57] asos-craigmorten commented on #39
@rglowrey please can you try out `0.17.0` and see if that is fixed for you? 🙂

REF: https://github.com/asos-craigmorten/opine/releases/tag/0.17.0

[2020-07-03 12:36] rglowrey commented on #39
No, didn't fix it.

Here's the code I ran:
[code]
Here's the result:
[code]

[2020-07-03 12:40] asos-craigmorten commented on #39
Hmm... the classic and somewhat unhelpful "works for me"!

Can you try with the `--reload` flag? I wonder if you've got a cached "bad" subdependency somewhere? I.e.

[code]

[2020-07-03 12:45] rglowrey commented on #39
Now I get to give the classic "so it really WAS me all along!".  Yes, running with the --reload flag did the trick.  Also, when I ran it with the first line
`import { opine } from "https://deno.land/x/opine@main/mod.ts";`
it worked fine after that --reload.  Thanks for your help, and sorry for the bother.

[2020-07-03 12:49] asos-craigmorten commented on #39
@rglowrey no bother at all! I believe the initial problem lay with Opine :joy: or specifically one of it's dependencies - something I think needs ironed out in Deno is sub-dependency resolution, conflicts etc. I don't think there is a way to "lock" versions for consumers of a module. The only thing consumers can do afaik is find a "good" version and then use the `--lock-write` and subsequently `--

[2020-07-03 12:49] #39 closed

[2020-07-06 20:33] FaberVitale opened #40 "[FEAT] Response lifecycle hooks"
# Issue

In node there are libraries like [on-headers](https://www.npmjs.com/package/on-headers) and [on-finished](https://www.npmjs.com/package/on-finished) that are commonly use to run logic  before and after a request has been processed, some example:

* [ morgan](https://github.com/expressjs/morgan/blob/master/index.js#L138)

* [session](https://github.com/expressjs/session/blob/master/index.j

[2020-07-09 16:51] asos-craigmorten commented on #40
Sounds good - think we should investigate whether either of these would be best implemented first in the std http library for Deno, but certainly wouldn’t be much work to add to Opine itself (either custom or hanging off of the std http methods).

I believe there is already a `done` or similar promise on the request object which could be used for one of these hooks?

[2020-07-13 04:07] sudokzt opened #41 "Why don't you use `deps.ts` for React and so on?"
# Issue

This issue is question.

Why don't you use `deps.ts` for React and so on?

## Details

I looked at Craig's nice [entry](https://dev.to/craigmorten/writing-a-react-ssr-app-in-deno-2m7).
Then  I looked at this source in the repo. https://github.com/asos-craigmorten/opine/blob/main/examples/react/server.tsx

If the `deps.ts` seems to have the role of `package.json`, you can write following i

[2020-07-13 08:53] asos-craigmorten commented on #41
Hi @sudokzt 👋

You are correct - the current Deno precedent is to use a file called `deps.ts` as a place to write all of your imports of third-party modules so they can be managed from a central location. This can have benefits such as being a single place to upgrade dependencies (instead of all over your code), and is also support by tools such as the [nest.land eggs CLI](https://github.com/nestd

[2020-07-14 07:25] srepollock opened #42 "TypeScript Error: TS2345 [ERROR]: Argument of type 'string | URL' is not assignable to parameter of type 'string'."
# Issue

Setup:

- deno 1.2.0
- v8 8.5.216
- typescript 3.9.2
- opine main at 2295ba25be8320e0a3adfb5fe9d53477b02d1650

## Details

When running my program:

[code]

with the command: `deno run mod.ts`

I get the following error:

[code]

I've traced the issue to these two lines:

https://github.com/asos-craigmorten/opine/blob/2295ba25be8320e0a3adfb5fe9d53477b02d1650/src/middleware/serveStatic.ts#

[2020-07-14 12:37] FaberVitale commented on #42
It's a deno bug.

[code]

These 2 lines of code work in FF(latest), node 12 and chrome ( 83.0.4103.116 )

[2020-07-14 12:47] asos-craigmorten commented on #42
Thanks for raising this @srepollock!

Having followed the issue on GitHub and Discord, and reading the changelog I still managed to overlook this 🤦

Relevant issues / PRs:
- https://github.com/denoland/deno/pull/5521
- https://github.com/denoland/deno/pull/5564
- https://github.com/denoland/deno/pull/6653

Should be simple enough to fix, we just need to cast to string as the `URL` constructor no l

[2020-07-14 13:33] Bidek56 commented on #42
Did theses PRs make it into the 1.2.0?

[2020-07-14 15:55] srepollock commented on #42
@Bidek56 It looks like it was from commit https://github.com/denoland/deno/commit/5c43131be1a36671fd564b82709e11dff66488f3

[2020-07-14 17:35] #42 closed

[2020-07-25 15:39] FaberVitale opened #44 "/react and /dejs examples are broken"
# Issue

### How to reproduce

1. Update deno to 1.2.1.
2. Run `deno run -A /examples/dejs/index.ts` or `deno run -A /examples/react/server.ts`.

[code]

## Details

Updating dejs to 0.8.0 fixes the issue.

[code]

### Sidenote

External dependencies in /examples should be consolidated either with an importMap or using a `./examples/deps.ts` file, see https://github.com/asos-craigmorten/opine/issu

[2020-07-25 18:53] abbasogaji opened #45 "Can't assign new properties to "req""
# Issue
Can't assign new properties to "req"
Setup:

- Deno Version:  1.0.0
- v8 Version: v8 8.4.300
- Typescript Version: 3.9.2
- Opine Version: 0.19.1

### For example; req.user (throws an error since Property 'user' does not exist on type 'Request<ParamsDictionary, any, any>')

## Details

[2020-07-25 19:21] asos-craigmorten commented on #45
Hi @abbasogaji can you provide some more details about where you are seeing this error + a minimal reproduceable example?

This looks likely to be a type error because the Opine `Request` type on the `req` object doesn’t allow arbitrary properties - if you wish to extend the object with your own properties then I would expect that you define your own type that extends the Opine `Request` type. Alt

[2020-07-26 08:01] abbasogaji commented on #21
@asos-craigmorten  Permit me to take this up

[2020-07-26 08:02] asos-craigmorten commented on #21
Go for it @abbasogaji 😄

[2020-07-26 08:13] abbasogaji commented on #21
@asos-craigmorten, oh great thanks, i made a PR already .🙂

[2020-08-03 20:27] Ciantic opened #48 "Cannot import vary the URL has changed"
- Deno Version: 1.2.2
- v8 Version: 8.5.216
- Typescript Version: 3.9.2
- Opine Version: 0.19.1

[code]

This is caused by this line:
https://github.com/asos-craigmorten/opine/blob/main/deps.ts#L46

Not sure what the version is supposed to be, I think it should be:

https://deno.land/x/vary@1.0.0/mod.ts

[2020-08-03 20:35] asos-craigmorten commented on #48
This is / was caused by a breaking change to the Deno registry today meaning we can no longer reference commits and/or branches - see https://deno.land/posts/registry2

I believe at the time of using this module it didn’t have a tagged release hence the commit, hopefully the fix is as simple as you say and can use `1.0.0` (or later version if exists).

[2020-08-03 20:44] #44 closed

[2020-08-03 20:48] #21 closed

[2020-08-03 21:13] #48 closed

[2020-08-03 21:33] asos-craigmorten commented on #41
Going to close for now - happy to re-open if have further questions / feel strongly etc. 😄

[2020-08-03 21:33] #41 closed

[2020-08-03 21:34] asos-craigmorten commented on #48
@Ciantic Please try out `opine@0.20.0` - should hopefully be resolved 😄

[2020-08-03 21:36] #45 closed

[2020-08-04 00:07] JayHelton commented on #26
Hello! I am very interested in contributing to opine. I am a long time express user and have recently become smitten with deno.  There are no features or bugs that I currently have my eyes on (so im totally open to just grabbing this). I would love to talk with you guys to see where I can help out!

[2020-08-04 07:17] asos-craigmorten commented on #26
@JayHelton that's awesome, any help, suggestions etc. etc. are very welcome.

The initial motivation of Opine was to provide a server / middleware option for current Express users that truly honoured the original interface as closely as Deno would sensibly allow so there was / is an easy first step into the Deno userland. Eventually I envisioned we could write up a CLI that could port existing Exp

[2020-08-04 07:27] asos-craigmorten opened #50 "[DOCS] Document app.param() and Router.param() in API docs"
# Issue

Add API documentation for newly implemented `app.param()` and `Router.param()` APIs

## Details

Add the documentation to the the API docs found in the `./.github/API/` directory. Generally documentation can be lifted fairly seamlessly, but take care to:
- follow the current Opine docs style
- refer to Express only when demonstrating influence / referring to original source for legal or d

[2020-08-04 07:34] asos-craigmorten opened #51 "[TEST] Improve body parser test coverage"
# Issue

The current body-parser test coverage is low, this issue seeks to improve the coverage.

## Details

The Opine body-parser test code was written prior to the creation of [SuperDeno](https://github.com/asos-craigmorten/superdeno) and thus was unpractical at the time to port test code from the original source. Now the supertest equivalent exists we should look to improve the test coverage o

[2020-08-04 07:39] asos-craigmorten opened #52 "[FEAT] Support GZIP and Deflate Compression"
# Issue

Setup:

Add support for deflate and gzip encoding in body-parsers.

## Details

Currently gzip and deflate are not supported in Opine and throw a `415` error. This issue is to add support to Opine for these two standard options which is now possible due to modules being made available in the Deno userland.

Relevant file: `./src/middleware/bodyParser/read.ts` Line 117.

Modules to explore

[2020-08-04 16:33] JayHelton commented on #52
@asos-craigmorten i think i will grab this one and give it a shot!

[2020-08-04 16:37] JayHelton commented on #52
Im assuming this would be a deno idiomatic port of https://github.com/expressjs/body-parser/blob/master/lib/read.js?

[2020-08-08 13:33] #50 closed

[2020-08-12 08:19] michael-spengler opened #56 "[DOCS] Cors Enablements"
First of all: Thank you for this module.

As I could not find a simple & quick solution for cors enablement so far, I created a corresponding [PR](https://github.com/tajpouria/cors/pull/18) on https://deno.land/x/cors.

If you know any better approaches, please let me know.

[2020-08-12 08:30] asos-craigmorten commented on #56
Heya @michael-spengler 👋

Ah awesome, A CORs module is a great contribution to have somewhere so nice one! I'm not aware of any alternative cors libraries atm so your PR is great to have.

Given Mith, Attain and Opine are all essentially [connect middleware inspired](https://github.com/senchalabs/connect) I wonder if a single exported module could handle cors for all of them but that can be for an

[2020-08-12 15:14] michael-spengler commented on #56
Hey @asos-craigmorten. Today was a cors day for me - I started at about level 0 :) so the PR from above got merged - the owner of the repository will fix some issues which I had left due to my beginner level in those topics :)

To have a quick solution for uncritical apps / backend / routes I provided https://deno.land/x/simplecors@1.0.0 where I use opine for the usage example. This is sufficient

[2020-08-17 12:39] futurelucas4502 opened #58 "[BUG] Cannot read property 'req' of undefined when using serveStatic function"
# Issue

Setup:

- Deno Version: 1.3.0
- v8 Version: 8.6.334
- Typescript Version: 3.9.7
- Opine Version: 0.20.2

After following the tutorial for using Opine with dejs [here](https://dev.to/craigmorten/opine-tutorial-part-2-creating-a-website-in-deno-37o3) I get an issue where when I try and load the site it gives an error

Not sure if this is relevant but I'm running Windows 10 2004 x64

## Deta

[2020-08-17 14:59] asos-craigmorten commented on #58
@futurelucas4502 can you try and confirm you still have an issue after using a `--reload` flag, e.g.

[code]

If that fails, can you also see if you have an issue running with the following repo: https://github.com/asos-craigmorten/opine-template

This should be the repository created when following the tutorial.

Let me know how get on?

---

Slightly lost atm as I can't reproduce, but someone el

[2020-08-17 15:08] asos-craigmorten commented on #58
Pulled down your repo and it runs ok for me (once realised the default port was `80` not `3000` 😂 ). Steps:

[code]

<img width="1552" alt="Screen Shot 2020-08-17 at 16 05 56" src="https://user-images.githubusercontent.com/46491566/90411391-9c9c4700-e0a3-11ea-8f3e-505496c31106.png">

<img width="1552" alt="Screen Shot 2020-08-17 at 16 06 02" src="https://user-images.githubusercontent.com/46491566/

[2020-08-17 17:18] futurelucas4502 commented on #58
I attempted using both the cloned repo and using the reload function the cloned repo is the screenshot below:
![image](https://user-images.githubusercontent.com/48055553/90424256-b6468a00-e0b5-11ea-8700-5fe7d3776040.png)

Using reload on my code is the screenshot:
![image](https://user-images.githubusercontent.com/48055553/90424286-ca8a8700-e0b5-11ea-9006-8689cda16817.png)

I have however found so

[2020-08-17 22:40] futurelucas4502 commented on #58
So after doing some more research it works completely fine on both Linux and MacOS therefore this seems to be an OS specific issue that only occurs on windows @asos-craigmorten

[2020-08-18 07:42] asos-craigmorten commented on #58
@futurelucas4502 great work confirming! I suspect there may be some path manipulation logic that needs fixing somewhere, that is generally the cause of cross-OS issues

[2020-08-18 10:13] asos-craigmorten commented on #58
Closed automatically with the linked PR #59

@futurelucas4502 can you confirm whether `opine@0.21.1` resolves the issue or whether I've just fixed something unrelated :joy:

[2020-08-18 10:21] asos-craigmorten commented on #58
Ok, I'm able to reproduce under different means on MacOS using the `static-files` example and navigating to `http://localhost:3000/js` which invokes the redirect directory listener and then errors with the same message as you have been seeing - will give fixing that a whirl and 🤞 it also solves your issue!

[2020-08-18 13:42] asos-craigmorten commented on #58
@futurelucas4502 can you confirm whether `opine@0.21.2` resolves the issue?

[2020-08-18 15:27] futurelucas4502 commented on #58
hi @asos-craigmorten thanks for all your work I can confirm opine@0.21.2 fixes the problem and opine now works on windows properly!

[2020-08-18 15:27] #58 closed

[2020-08-18 18:23] asos-craigmorten commented on #58
That’s awesome to hear! 🍾 please raise further issues if find anything else isn’t quite right 😄

[2020-08-28 21:23] michael-spengler commented on #56
Good News:

The following works now:

import { opineCors } from "https://deno.land/x/cors/mod.ts";
const app = opine();
app.use(opineCors())

Reopening this issue so you can check whether you want to update the documentation. @asos-craigmorten

[2020-08-28 22:07] asos-craigmorten commented on #56
Amazing @michael-spengler! Yep think would be great to get an example in the repo using this 😊

[2020-09-05 03:44] nebrelbug opened #61 "Add Eta template engine to examples"
This is a really cool project!

I'm the maintainer of the [Eta](https://eta.js.org) template engine, and I just added Deno support. I'd love to add an example of a server using Eta to the Opine examples. Could I submit a PR?

[2020-09-05 07:33] asos-craigmorten commented on #61
Hey @nebrelbug 👋

Yes please do! PRs are very welcome 😄 Let me know if need a hand with anything 🙂

[2020-09-08 16:57] mphelp opened #62 "Unable to serve static files"
# Unable to serve static files

Setup:

- Deno Version: 1.1.3
- v8 Version: 8.5.216
- Typescript Version: 3.9.2
- Opine Version: main

I try to run your example:
deno run --allow-net --allow-read https://raw.githubusercontent.com/asos-craigmorten/opine/main/examples/static-files/index.ts

And the app runs and says this:
[code]

But then nothing seems to actually be served up either in browser or P

[2020-09-08 18:11] asos-craigmorten commented on #62
Hi @mphelp 👋

Thanks for raising this! I suspect this might be a case of copy paste error with the example docs! From memory static serving might not work from a remotely run example (or this could be a bug!)

Are you able to confirm if you have this issue when running the example locally? (Either by cloning and running, or creating a similar app importing the opine module from a registry etc)

I’

[2020-09-08 20:32] mphelp commented on #62
@asos-craigmorten Thanks Craig for answering this. Once run locally (git clone), the example works just fine.

In my own app, can you please explain why this worked for static files:
[code]
But not this, which I had previously?
[code]

[2020-09-08 21:02] asos-craigmorten commented on #62
Fab - I will update the example docs to make it clear these work locally, not via a remote (URL) `deno run`.

As for why adding the `serveStatic` middleware as the second middleware layer doesn't work in your example, it is due to your use of `app.use()`.

See the [docs here](https://github.com/asos-craigmorten/opine/blob/main/.github/API/application.md#appusepath-callback--callback).

So in your

[2020-09-08 21:14] #62 closed

[2020-09-09 16:41] michael-spengler opened #64 "Question: Shall I publish this module via https://nest.land/"
Background: I like it very much + I like the concept of https://nest.land/

I'm already relying in some production contexts on opine :) 👍

[2020-09-09 19:03] asos-craigmorten commented on #64
Hi @michael-spengler glad you’re enjoying it!

Not sure I quite understand what this issue is for? (Maybe need to wake up and have more coffee! ☕️)

Opine is already published to nest.land (see https://nest.land/package/opine), and there are instructions on the readme how to install from that registry. 😊

If you’re talking about your own module then by all means publish it! The more that’s out the

[2020-09-09 22:28] michael-spengler commented on #64
:) great - I had not found it earlier - perhaps a typo came in the middle of https://nest.land/package/opine and me.

So it seems to be me who needs more coffee :) - enjoy and keep up the good work.

[2020-09-09 22:28] #64 closed

[2020-09-10 11:30] xcatliu opened #66 "Consider using Pagic to build the website?"
[Pagic](https://pagic.org) is a static site generator powered by Deno + React

Here are some demos:

- [pagic.org](https://pagic.org)
- [Deno X ranking](https://yoshixmk.github.io/deno-x-ranking/)
- [TypeScript 入门教程](https://ts.xcatliu.com/)

If it is possible to use pagic to build the website, I would like to create the pull-request

[2020-09-10 11:42] asos-craigmorten commented on #66
Hey @xcatliu :wave:

Pagic looks awesome - nice work 😄

What are you suggesting we should be hosting using Pagic? For now GitHub pages, Deno Doc and markdown docs are doing reasonably well afaik for Opine, but could be missing something!

[2020-09-11 21:34] asos-craigmorten commented on #61
Closed by #65

[2020-09-11 21:34] #61 closed

[2020-09-14 13:27] jvmazagao opened #68 "Create the project tasks for the project"
Hello everyone, can we create a project board here to map everything we need to develop and fix?

[2020-09-14 13:28] jvmazagao commented on #68
@asos-craigmorten

[2020-09-14 16:03] asos-craigmorten opened #69 "[FEAT] Upgrade Opine to support Deno 1.4.0 and std 0.69.0"
# Issue

Setup:

- Deno Version: 1.4.0

## Details

Upgrade Opine to support Deno 1.4.0 and std 0.69.0

This will require several dependencies to be upgraded first before we can get Opine over the line. Please see the PR #70 for details - any help getting deps upgraded is much appreciated!

[2020-09-15 07:57] asos-craigmorten commented on #68
Hey @jvmazagao :wave:

Sure, why not! I’ll try and put one together 😄

[2020-09-15 08:03] asos-craigmorten commented on #68
See https://github.com/asos-craigmorten/opine/projects/1 for the beginnings of the v1 project. I will try to add some more tickets to the project to flesh it out later.

Let me know if this isn’t what you meant!

[2020-09-15 12:56] jvmazagao commented on #68
This is what I meant,  now we can track better the issues, I will take a look in the board.

[2020-09-15 12:56] #68 closed

[2020-09-17 16:28] #69 closed

[2020-09-17 16:39] asos-craigmorten opened #71 "[FEAT] Support `query parser` application setting"
# Issue

Setup:

This issue is to support the `query parser` (and `query parser fn`) application setting, allowing users to support custom querystring parsers in Opine.

## Details

See:

- https://expressjs.com/en/api.html#app.settings.table
- https://github.com/expressjs/express/blob/master/lib/application.js#L77
- https://github.com/expressjs/express/blob/master/lib/application.js#L144
- https:

[2020-09-17 16:47] asos-craigmorten opened #72 "[FEAT] Support `trust proxy` application setting"
# Issue

Setup:

This issue is to support the `trust proxy` (and `trust proxy fn`) application setting, allowing users to indicate their Opine app is behind a front-facing proxy.

This issue includes the support of `req.ip()` and `req.ips()` APIs.

## Details

See:

- https://expressjs.com/en/api.html#app.settings.table
- https://github.com/expressjs/express/blob/master/lib/application.js#L79
- ht

[2020-09-17 16:50] asos-craigmorten opened #73 "[FEAT] Support req.range() API"
# Issue

Add the `req.range()` API.

## Details

See:

- https://expressjs.com/en/api.html#req.range
- https://github.com/expressjs/express/blob/master/lib/request.js#L212

Express uses the `range-parser` package - see https://github.com/jshttp/range-parser/. This doesn't look to have any deps and therefore may be usable via Pika/Skypack/JSPM which would make this task reasonably simple! If it can

[2020-09-17 16:57] asos-craigmorten opened #74 "[FEAT] Support Express style signature for cookie APIs"
# Issue

Support the Express signature for the `cookie()` and `clearCookie()` APIs.

These APIs already exist in Opine, but the signature is different - expecting a full `Cookie` object vs the Express name, value and options signature.

## Details

See:

- https://expressjs.com/en/api.html#res.cookie
- https://expressjs.com/en/api.html#res.clearCookie

[2020-09-17 17:02] asos-craigmorten opened #75 "[FEAT] Support all Express options for file-related response APIs"
# Issue

Support full suite of Express options for the `sendFile()` and `download()` response APIs, as well as the `serveStatic()` API options.

## Details

Should support:

- abort handling
- directory handling
- error handling - see https://github.com/pillarjs/send/blob/master/index.js#L267
- `options` - see https://github.com/pillarjs/send#sendreq-path-options
- other headers: 'Accept-Ranges',

[2020-09-17 17:06] asos-craigmorten commented on #68
Project has been fully populated now afaik for what's needed for v1 release 😄

If there is anything you fancy working on then I really appreciate the help! 🚀

[2020-09-17 20:34] jvmazagao commented on #68
@asos-craigmorten  can you give me permission to manage the board? I like to help with the documentation because I'm not very good with deno yet.

[2020-09-17 20:36] jvmazagao commented on #75
Can we extract error handling and options for other issues?

It's completely correlated but, we can deliver fast if we separate this task.

[2020-09-17 20:39] jvmazagao commented on #56
Hey @asos-craigmorten, can we close this issue and open another for the docs, to be more legible and organized.

[2020-09-20 09:10] #73 closed

[2020-09-20 13:15] #71 closed

[2020-10-03 17:23] #74 closed

[2020-10-03 17:23] #66 closed

[2020-10-06 15:36] juslin03 commented on #25
thank you very much

[2020-10-17 11:27] #52 closed

[2020-10-17 11:28] #56 closed

[2020-10-17 14:05] #25 closed

[2020-10-24 12:46] #72 closed

[2020-10-26 19:09] KaKi87 commented on #42
Hello, I'm experiencing this issue using Opine `0.25.0` on Deno `1.4.2` ? Thanks

[2020-10-26 19:42] asos-craigmorten commented on #42
Hey @KaKi87 can you provide a reproduceable example and the exact errors your are getting on the console? 😄

[2020-10-26 21:12] KaKi87 commented on #42
Well, turns out I was confused while reading the dependency tree from the `deno info` command, yes it is the exact same error, but no it is not comming from opine.
Actually, it is coming from [argon2](https://deno.land/x/argon2@v0.7.0), and if I would have cared to properly read the README, I would have figured out from the beginning that it was not supposed to be compatible with Deno versions > `

[2020-10-30 06:49] Hamza-324 commented on #27
Hello @asos-craigmorten I'm looking for my first contribution on an open-source project, do you think I could help in this issue ?

[2020-10-30 12:04] asos-craigmorten commented on #27
Hey @Hamza-324 👋

It's great that you want to help out!

This particular issue is perhaps not a "good first issue" as is very open ended and investigative, but if you are keen to dive into the code and start coming up with some ideas for improved performance then that would be really awesome! 😄

[2020-10-30 12:24] Hamza-324 commented on #27
@asos-craigmorten sure I'll take a shot at it, any guidelines/tips on how/where to get started ?

[2020-11-02 09:06] asos-craigmorten commented on #27
Hi @Hamza-324, thanks for your patience on me responding!

I guess a good starter for 10 is to clone the repo, pull down locally and check out a few of the examples to get familiar with usage (if you've used Express before then hopefully it feels _very_ familiar!)

Then it's a case of building familiarity with the core code structure. This mirrors the Express 4.x setup with the main entrypoint bei

[2020-11-02 13:48] Hamza-324 commented on #27
@asos-craigmorten No issues and thank you for the detailed run down. I will sit down and work on this and get back to you with my findings.

[2020-11-02 15:08] asos-craigmorten commented on #27
The only other thing worth noting is currently use a `Makefile` for the commands. Kicking off with a `make deps` and `make build` not a bad shout. The benchmarks can then be run using `make benchmark` (code in the `benchmarks` directory). The benchmarks make the assumption that you have [wrk](https://github.com/wg/wrk) installed.

[2020-12-09 23:01] cmorten opened #92 "[CI] Eggs CLI Broken For Deno 1.6.0"
# Issue

## Details

Eggs CLI fails on Deno 1.6.0, see https://github.com/nestdotland/eggs/issues/109

This issue to track upgrading the CI for Opine to publish to the nest.land registry again once the issue has been resolved (likely in a version 0.3.3)

[2020-12-20 10:07] #92 closed

[2020-12-21 11:26] #51 closed

[2020-12-21 11:27] #75 closed

[2020-12-21 15:18] #26 closed

[2020-12-23 07:59] mocoso opened #96 "Network access is required to run?"
# Issue

## Setup:

- Deno Version: 1.6.2 (but also occurs for earlier versions)
- v8 Version: <replace_with_v8_version>
- Typescript Version: 4.1.3
- Opine Version: 1.0.0 (but also occurs for versions 0.24.0, 0.25.0, 0.26.0 & 0.27.0

## Details

Since v0.24.0 Opine seems to required network access to run.

Steps to reproduce

Step 1: Create an app.ts file with the following contents

[code]

Step

[2020-12-23 08:49] abbasogaji commented on #96
the option flag, "--allow-net --allow-read" is required to run any deno application (or library) that requires network access, because by default there is No file, network, or environment access, unless explicitly enabled.

as it was stated on  https://deno.land/

@mocoso
can try running it with the flag
[code]

[2020-12-23 08:52] cmorten commented on #96
Thanks for raising this @mocoso!

You’re quite right, in `0.24.0` I introduced the [denoflate](https://deno.land/x/denoflate@1.1) module to handle `gzip` and `deflate`. (REF: https://github.com/asos-craigmorten/opine/blob/main/.github/CHANGELOG.md#0240---17-10-2020)

This particular module uses wasm and curiously this is requested dynamically during runtime rather than an install... hence why when

[2020-12-23 22:43] cmorten commented on #96
As alluded in the comment before mine, I’m fairly certain you can’t run an http server in Deno without allowing network access for the local IP and port you are running on, e.g. `--allow-net 0.0.0.0:3000` so can’t see dropping the flag completely ever being an option?

[2020-12-24 07:25] mocoso commented on #96
It happens with the hello world example above and so affects all opine servers

From a security perspective this seems like a reasonable work around.

There are two non-security reasons that make it useful to run code that imports Opine without it requiring network access (which was possible before https://github.com/asos-craigmorten/opine/pull/81)

1. For unit testing. ideally unit tests can be r

[2020-12-24 08:29] mocoso commented on #96
Asking about this on Discord got the following response

for my wasm based module, i just download file locally and load local wasm if its present download it otherwise

[2020-12-24 09:32] cmorten commented on #96
Nice sleuthing @mocoso!

I think there is sufficient use-case to keep this open, just not sure of the best way forward... we could even store the wasm in Opine for now but I don’t think that would solve the issue as the runtime request would just be passed onto the opine module rather than within denoflate.

The issue feels to be around the use of `fetch` within the module to grab the wasm followi

[2020-12-24 10:29] cmorten commented on #96
For some prior art, the `deno-canvas` authors have opted to download and cache the wasm file relatively. REF: https://github.com/DjDeveloperr/deno-canvas/blob/master/lib.js#L4

An update to denoflate’s entrypoint _could_ handle this in the same fashion, though feels a little clunky for wasm files to be popping up in peoples codebases (I guess just explicitly rather than hidden in a Deno directory

[2020-12-28 17:10] lowray opened #97 "Error when i start script with --no-check flag"
# Issue

Setup:

- Deno Version: 1.6.2
- v8 Version: 8.8.278.2
- Typescript Version: 4.1.3
- Opine Version: 1.0.0

I'm getting an error while i disable ts check for my app

## Details

command : `deno run -A --no-check  serve.ts`
output :
[code]
code i use :
[code]

[2020-12-28 17:49] cmorten commented on #97
Hi @lowray, thanks for raising this 😄

Having read the Deno manual (REF: https://deno.land/manual@v1.6.2/getting_started/typescript#code--no-checkcode-option) I believe this may be an issue with @garronej's https://github.com/garronej/evt library which Opine uses for it's eventing interface 😢. Namely check out this part of the `--no-check` docs:

Which I believe may be the issue as `CtxLike` which

[2020-12-28 18:14] lowray commented on #97
I've opened an issue garronej/evt#17
BTW i have another question, have you tried to bundle opine?
I'm getting an error like
[code]
Sorry for the disturbance.

[2020-12-28 18:58] cmorten commented on #97
@lowray no need to apologise! 😄

Are you referring to `deno bundle` or `deno compile`? Either way do you mind opening a separate issue so we track this different error there?

[2020-12-28 19:12] lowray opened #98 "Error while bundling opine's mod.ts"
# Issue

Setup:

- Deno Version: 1.6.2
- v8 Version: 8.8.278.2
- Typescript Version: 4.1.3
- Opine Version: 1.0.0

I'm receiving an error when i try to use a bundled version of opine

## Details

I'm trying to use a bundled version of opine to avoid errors with #97 (`deno bundle https://deno.land/x/opine@1.0.0/mod.ts`)
the bundle generated successfully but when i try to use this bundle like :
[cod

[2020-12-29 02:58] garronej commented on #97
Hi @cmorten and @lowray so far I can't reproduce but I will do what it takes to fix this.

[2020-12-29 07:24] garronej commented on #97
@cmorten DONE. I addressed the issue in v1.9.12 of EVT.

[2020-12-29 08:32] cmorten commented on #97
Nice one @garronej, you’re a ⭐️!

Gosh that does sounds exhausting 😞

I’ll get things sorted from this end

[2020-12-29 11:20] #97 closed

[2020-12-29 11:50] lowray commented on #97
@garronej @cmorten i really appreciate it.
thank you all ♥️

[2020-12-29 13:56] cmorten commented on #98
Hi @lowray 👋

So the first error you've reported appears to be a bug with `deno bundle` as far as I can see, the outputted, bundled js file appears to have placed the definition of:

[code]

on line 309, when in fact `request2` is only defined later on line 23284. Hence why we get the reference error.

If you have a use-case for Opine in this bundled form then I would recommend raising an issue to

[2020-12-29 13:56] #98 closed

[2020-12-29 14:16] cmorten commented on #98
Having a read, I believe this will all be fixed in a next release following the merge of https://github.com/denoland/deno/pull/8901 which upgrades swc which is used for bundling.

[2021-01-08 09:37] techtastet opened #102 "[BUG] BrokenPipe Crash"
# Issue

Setup:

deno 1.6.3 (release, x86_64-unknown-linux-gnu)
v8 8.8.294
typescript 4.1.3
- Opine Version: 1.0.0

## Details

[code]

[2021-01-08 16:08] asos-craigmorten commented on #102
Hey @techtastet :wave:

So Opine is designed currently to catch _some_ errors that are thrown from Deno's Http std lib as you can see here --> https://github.com/asos-craigmorten/opine/blob/main/src/response.ts#L256, namely instances of `Deno.errors.BadResource` as this is an indicator that the connection has already been closed.

Other than that, the responsibility of error handling lies with you

[2021-01-15 18:51] devalexqt opened #103 "Session middleware?"
How to use session middleware?

[2021-01-15 19:54] cmorten commented on #103
Hi @devalexqt 👋

As far as I know there is currently no dedicated Deno session middleware for Opine.

If you’re interested in contributing to the Deno userland, this could perhaps be a good opportunity to do so!

This is a `session` module in the Deno registry (https://deno.land/x/session@1.1.0) but it currently only supports Oak and Attain servers, it doesn’t look like it would be much work to ha

[2021-01-15 20:35] cmorten commented on #103
I have put in a PR to add Opine support to the `session` module, see https://github.com/denjucks/session/pull/15.

[2021-01-15 22:15] cmorten commented on #96
Just found https://github.com/deno-library/compress/tree/v0.3.6 which appears to be a typescript implementation of compression line which we may be able to use instead of denoflate, will spike out this weekend and see if is workable

[2021-01-15 22:34] devalexqt commented on #103
Thanks!

[2021-01-17 18:46] #96 closed

[2021-01-17 18:48] cmorten commented on #96
Hey @mocoso, can you try out `1.1.0` and see if that has solved it? Please reopen if not!

[2021-01-17 18:56] cmorten commented on #102
This appears to originate from a bug in the std library which has since been fixed. See:

- https://github.com/denoland/deno/issues/8830
- https://github.com/denoland/deno/issues/6319
- https://github.com/denoland/deno/issues/6002

And was fixed in: https://github.com/denoland/deno/pull/8365

Please re-open if you are finding it still happens and provide a reproduceable example 😄

[2021-01-17 18:58] cmorten commented on #103
This is an issue for the userland to solve rather than something in Opine itself, so closing for now. Shout if feel otherwise!

[2021-01-17 18:58] #103 closed

[2021-01-18 10:33] mocoso commented on #96
It works very nicely. Thank you for resolving this.

[2021-03-01 17:59] ivebencrazy opened #105 "[BUG] react example does not work with deno 1.7.5"
# Issue

Setup:

- Deno Version: deno 1.7.5
- v8 Version: 9.0.123
- Typescript Version: 4.1.4
- Opine Version: 1.1.0

## Details

[react example](https://github.com/asos-craigmorten/opine/tree/main/examples/react) looks to be broken with latest Deno.

Primarily, this is caused by [breaking change](https://github.com/denoland/deno/discussions/8800) where `Deno.bundle` is deprecated in favor of `Den

[2021-03-01 18:26] asos-craigmorten commented on #105
Hey @ivebencrazy! 👋

All sounds very good - we should indeed be using `Deno.emit()` now instead of `Deno.bundle()`!

If you have a fix on the go then a PR would be very welcome! 😄 🎉

R.E. the examples it's a good point - I guess to be good "lift and shift" / "copy and paste" material for getting started then really we should use the full urls - if that's something you'd be open to putting into / a

[2021-03-01 20:38] #105 closed

[2021-03-06 16:25] zsombro opened #107 "Compiled executables don't work"
# Issue

Setup:

- Deno Version: 1.8.0
- v8 Version: 9.0.257.3
- Typescript Version: 4.2.2
- Opine Version: 1.1.0

## Details

[code]

I have tried compiling executables before, but they only used standard libraries. I assumed this might be a problem with opine, as the callstack in that error message refers to it. I don't know if there are any command line arguments that could help in producing a

[2021-03-06 18:05] cmorten commented on #107
Heya @zsombro 👋

I've just released [`1.2.0`](https://github.com/asos-craigmorten/opine/releases/tag/1.2.0) - please can you confirm whether you are still facing issues?

I am able to compile and run the `eta` example in this codebase with this latest version - see video.

https://user-images.githubusercontent.com/11313985/110216322-6f2fb300-7ea6-11eb-949a-8719b99e2abe.mov

If you're still facing

[2021-03-06 21:12] zsombro commented on #107
Hey @cmorten thank you for the quick response!

I have tried the new version and it works fine! Awesome!

[2021-03-06 21:12] #107 closed

[2021-04-14 11:50] minons1 opened #110 "TypeError: Cannot read property 'get' of undefined"
Setup:

- deno 1.9.0 (release, x86_64-pc-windows-msvc)
- v8 9.1.269.5
- typescript 4.2.2
- Opine 1.2.0

## Details

Hi, I'm trying to run getting started code from [opine deno land](https://deno.land/x/opine@1.2.0), but I got this error message
![image](https://user-images.githubusercontent.com/55347970/114705612-1c250780-9d52-11eb-926a-2c9052a8edf2.png)

Is there any problem I am facing, any solu

[2021-04-14 13:43] #110 closed

[2021-04-14 13:46] asos-craigmorten commented on #110
Hi @minons1 👋

It seems something changed between `1.8.3` and `1.9.0` of Deno which resulted in the Opine response object missing a fundamental property which causes this error.

I've released a new version `1.3.0` which hopefully resolves this issue - let me know if you still are having issues with the new release and we can reopen this issue! 🙃

[2021-04-14 15:56] minons1 commented on #110
thank you @asos-craigmorten for your help, it works perfectly now 😎

[2021-04-14 16:20] asos-craigmorten commented on #110
Awesome 🎉 great to hear! 😄

[2021-04-16 10:24] rssaranece94 opened #114 "Exported middleware causing error in latest version"
# Issue

Setup:

- Deno Version: <1.9.0>
- v8 Version: <9.1.269.5>
- Typescript Version: <4.2.2>
- Opine Version: <1.3.2>

## Details

log.ts
[code]

app.ts
[code]

error: TS2612 [ERROR]: Property 'resolve' will overwrite the base property in 'Deferred<undefined>'. If this is intentional, add an initializer. Otherwise, add a 'declare' modifier or remove the redundant declaration.
    public readon

[2021-04-16 10:57] asos-craigmorten commented on #114
Hi @rssaranece94 👋

I'm struggling to reproduce 😢  - I have created an `app.ts`

[code]

and a `log.ts`

[code]

And can see the server is working as expected.

It is curious that you are getting an error thrown from the `evt` library as that was removed as a dependency from Opine in version `1.2.0` ( see https://github.com/asos-craigmorten/opine/blob/main/.github/CHANGELOG.md#120---06-03-2021 ).

[2021-04-16 11:19] rssaranece94 commented on #114
Thanks for the help. Sorry my bad I missed old version import in sub files. Updated those works well.

[2021-04-16 11:19] #114 closed

[2021-04-16 11:54] asos-craigmorten commented on #114
Ah, glad you were able to sort it 🎉 nice one 😄

[2021-04-19 08:45] asos-craigmorten opened #115 "[FEAT] Adopt Native HTTP Server"
# Issue

## Details

In Deno `1.9.0` ( https://github.com/denoland/deno/releases/tag/v1.9.0 ) native HTTP bindings were introduced to Deno ( https://github.com/denoland/deno/pull/9935 ) allowing for potential performance improvements, and opening the path towards HTTP2 support and other features.

This issue is to adapt Opine to support the new HTTP setup.

See Oak as an example:

- https://github

[2021-04-19 19:54] DR-DinoMight opened #116 "TypeError: Cannot read property 'get' of undefined"
# Issue

Setup:

- Deno Version: deno 1.9.0 (release, x86_64-unknown-linux-gnu)
- v8 Version: v8 9.1.269.5
- Typescript Version: 4.2.2
- Opine Version: opine@1.2.0

## Details

I've been building a   web app and have route files setup similar to:

[code]

and the route file has
[code]

Upon running Deno I get the following error

[code]

Sorry the code is pretty vague but I don't think the rest he

[2021-04-19 20:14] cmorten commented on #116
Hey @DR-DinoMight 👋

I _think_ this might be the same issue as https://github.com/asos-craigmorten/opine/issues/110, can you try upgrading Opine to one of the latest versions ( `^1.3.0` ) and see if that resolves the issue?

[2021-04-19 20:57] DR-DinoMight commented on #116
Thanks for the quick reply!

I'm sorry I totally didn't see this issue!

Yes, this was the fix! Everything is working again!

Thanks 😀

[2021-04-19 20:57] #116 closed

[2021-04-26 10:00] cmorten opened #117 "Cookie headers are being overwritten by later setCookie headers"
# Issue

Setup:

- Deno Version: 1.9.2
- Opine Version: 1.3.2

## Details

Attempting to upgrade superdeno to support Deno ^1.9.0 noticing that the cookie tests are failing because Opine is not appending cookies set in headers, instead incorrectly overwriting them...

[code]

[2021-04-26 13:48] cmorten commented on #117
This is now the expected behaviour of `set` following the adjustment of the underlying `Header` class in Deno to match the web specification. To append cookies instead use `.append()` not `.set()`.

[2021-04-26 13:48] #117 closed

[2021-05-03 19:07] waghanza opened #120 "Not available on nest.land"
Hi,

`opine` `1.3.3` seems not to be available in https://nest.land/package/opine, but available in https://deno.land/x/opine.

Regards,

[2021-05-04 08:02] asos-craigmorten commented on #120
Hi @waghanza 👋

Good spot! Seems I run the full lint, test etc. in the publish workflow. Because ( last time I checked ) the eggs CLI had issues on latest Deno `^1.9.0` I left it the eggs publish workflow on `^1.8.0` but a breaking change ( well been described as a bugfix ) to how `Headers` works in Deno in one of the `^1.9.0` versions now means the Opine tests fail on `^1.8.0`.

I'll update the w

[2021-05-04 08:48] waghanza commented on #120
You should probably also update current `README`

[2021-05-04 08:51] cmorten commented on #120
Will close once the working version is released 🙂

[2021-05-06 14:05] #120 closed

[2021-05-06 14:20] cmorten commented on #120
Pleased to say the CI changes worked ( REF: https://github.com/asos-craigmorten/opine/runs/2519010498?check_suite_focus=true ) and `1.3.4` is available on nest.land now 😄 --> https://nest.land/package/opine

[2021-06-12 20:22] 4ov opened #125 "res.cookie maxAge can't be 0"
# Issue

Setup:

- Deno Version: 1.11.0 (release, x86_64-unknown-linux-gnu)
- v8 Version: 9.1.269.35
- Typescript Version: 4.3.2
- Opine Version: 1.4.0

## Details

`res.cookie`'s `maxAge` option can be 0 in express while it's giving an error in opine

[code]

[2021-06-13 07:54] cmorten commented on #125
Looks like this error is coming from the std lib.

REF: https://deno.land/std@0.98.0/http/cookie.ts#L60

The git blame takes you to a PR where the author states that 0 is valid ( well, says negative values are invalid ) according to the RFC ( https://github.com/denoland/deno_std/pull/359#discussion_r279169244 ).

Indeed, the RFC states:

REF: https://www.ietf.org/rfc/rfc2109.txt

So think this is

[2021-06-15 18:11] TillaTheHun0 opened #126 "res.setHeader is not a function"
# Issue

Came across this when trying to use [`helmet`](https://github.com/helmetjs/helmet) with `opine`. Helmet uses `res.setHeader` in its middleware that it applies, which produces an error with `opine`

Setup:

- Deno Version: 1.11.0
- v8 Version: v8 9.1.269.35
- Typescript Version: 4.3.2
- Opine Version: 1.4.0

- Helmet version: 4.6.0
## Details

In express/node, `res.setHeader` comes from no

[2021-06-15 19:29] TillaTheHun0 opened #128 "res.removeHeader is not a function"
# Issue

Came across this when trying to use [`helmet`](https://github.com/helmetjs/helmet) with `opine`. Helmet uses `res.removeHeader` in its middleware that it applies, which produces an error with `opine`

Setup:

- Deno Version: 1.11.0
- v8 Version: v8 9.1.269.35
- Typescript Version: 4.3.2
- Opine Version: 1.4.0

- Helmet version: 4.6.0
## Details

In express/node, `res.removeHeader` comes f

[2021-06-15 19:46] #126 closed

[2021-06-15 19:57] #128 closed

[2021-06-15 21:03] 4ov opened #130 "Websocket connection keep (pending)"
# Issue

Setup:

- Deno Version: 1.11.0
- v8 Version: 9.1.269.35
- Typescript Version: 4.3.2
- Opine Version: 1.4.0

## Details

I'm trying to attach websocket to opine server
sample code:
[code]

i hope you help me in this problem and/or give an example for using websockets

[2021-06-15 21:22] cmorten commented on #130
Hi @4ov 👋

One gotcha I have found with ws is that the versions of the are lib for http and ws typically have to match exactly otherwise you experience hanging connections and/or errors.

Latest Opine is currently using std@0.97.0 ( https://github.com/asos-craigmorten/opine/blob/main/deps.ts#L6 ). Please try using this version for your ws import and see if issues are resolved.

Unfortunately this

[2021-06-15 21:50] 4ov commented on #130
Working,
Thanks for helping i really appreciate it.

[2021-06-15 21:50] #130 closed

[2021-06-25 09:54] TheAifam5 commented on #102
The issue still exist and it happens when the request is cancelled. I use OpineHttpProxy in this case too.

[2021-07-01 08:49] asos-craigmorten commented on #125
This has been fixed upstream, awaiting next `deno_std` release.

REF: https://github.com/denoland/deno_std/pull/992

[2021-07-02 17:45] cmorten opened #132 "OPTIONS related tests failing as response no longer has a body"
# Issue

Setup:

[code]

## Details

Tests are failing on the `1.11.x` Deno versions because `fetch` has been updated to no longer return a `body` in it's `response`.

REFs:
- https://github.com/denoland/deno/issues/10990
- https://github.com/denoland/deno/pull/11003

[2021-07-05 08:05] asos-craigmorten commented on #132
PR raised for fix: https://github.com/denoland/deno/pull/11242

[2021-07-13 16:20] #132 closed

[2021-07-13 18:30] 4ov commented on #125
So we are good here, Thanks.

[2021-07-13 18:30] #125 closed

[2021-07-18 21:36] ElikaFilin opened #134 "Add typization for sessions"
# Issue

Setup:

- Deno Version: 1.11.2
- v8 Version: <replace_with_v8_version>
- Typescript Version: <replace_with_typescript_version>
- Opine Version: 1.60

## Details

Currently adding session into application provokes type error in typescript as Request object in Router doesn't corresponds to the Request object extended by adding session property. As result every place where session used shoul

[2021-07-19 06:38] cmorten commented on #134
@ElikaFilin are you able to add any detail to clarify?

If this is regarding session middleware, this is something that can be solved in userland IMO.

Sim. to https://github.com/asos-craigmorten/opine/issues/103

[2021-07-23 08:44] Tc-001 commented on #102
It seems that deno also can throw `Deno.errors.BrokenPipe` if a connection is closed unexpectedly (https://github.com/denoland/deno_std/issues/659#issuecomment-800419398), and it is not being caught in:
https://github.com/asos-craigmorten/opine/blob/fe9adf5f82703ab464adb3aecf29b05f542ce2f8/src/response.ts#L266-L273
Thus resulting in a server crash

[2021-07-23 09:40] asos-craigmorten commented on #102
Yeah, looks like closed this in error. We will need to handle `Deno.errors.BrokenPipe` errors emitted when calling the `.next()` on the server iterator.

TBC if can wrap the response

https://github.com/asos-craigmorten/opine/blob/fe9adf5f82703ab464adb3aecf29b05f542ce2f8/src/response.ts#L256-L263

or if need to catch at the top-level loop

https://github.com/asos-craigmorten/opine/blob/fe9adf5f827

[2021-07-23 09:43] asos-craigmorten commented on #134
Closing due to lack of information, and session handling being something that should live in userland.

[2021-07-23 10:09] Tc-001 commented on #102
For future reference, I could reproduce it by
[code]
and spamming `F5` in firefox.
This cancels the previous load before re-requesting the page. There is probably a better way, but this worked in a pinch.

[2021-07-23 12:04] asos-craigmorten commented on #102
Ah nice @Tc-001 that will be useful for repro + figuring out if fix. Can probably add a "racing server" like integration test similar to what the std/http module has for these kind of edge cases in real world apps.

[2021-07-25 11:25] janusz-f commented on #115
I can help you with adoptation to native HTTP

[2021-07-26 21:51] jcs224 commented on #134
Hi there, just want to chime in since it looks like my fork of the sessions repo has gotten some traction.

@ElikaFilin I see you've forked my session repo and made some nice additions, including bringing back TypeScript support. I'd love to see if there's a way to bring some of those changes back into my project, or, continue contributing to your fork.

Hopefully we can create a good-quality sess

[2021-08-01 10:59] #102 closed

[2021-08-05 08:50] ElikaFilin commented on #134
@jcs224  You can easily contribute to our repository as we are going to develop this middleware in future

[2021-08-05 08:57] janusz-f commented on #134
@cmorten
currently framework works only with `router.get('/', index as  unknown as RequestHandler);`;
but it is not the best solution more like detour

[2021-08-05 12:46] asos-craigmorten commented on #134
Agreed - the typing could do with some work. As a starter for 10 is was derived from the Express types available here --> https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/express/index.d.ts

It would be grand to revisit and improve them to allow extensions such as the session middleware, and fix any bugs with types such as you metion @janusz-f.

Options include updating the htt

[2021-08-08 06:40] MrWindwaker opened #137 "Ipaddr does not provide an export named 'default"
# Issue

Setup:

- Deno Version: 1.12.2
- v8 Version: 9.2.230.14
- Typescript Version: 4.3.5
- Opine Version: 1.7.0

## Details

error: Uncaught SyntaxError: The requested module 'https://esm.sh/ipaddr.js@2.0.0' does not provide an export named 'default'
export { default as ipaddr } from "https://esm.sh/ipaddr.js@2.0.0";
[code]

[2021-08-08 07:07] cmorten commented on #137
Hmm, can’t reproduce with that error, but am seeing 408 timeouts when try to access that asset via esm.sh - wonder if the CDN is having issues 🤔

[2021-08-08 09:11] cmorten commented on #137
Have reproduced reliably now - curious as nothing has changed from Opine's side - indeed CI passed for this version, importing this dep etc.

From what understand `esm.sh` maps to a mutable `cdn.esm.sh/v*` like url, and suspect that a version has revved and introduced a regression. It doesn't appear that you can fix the version of `esm.sh` that you use as it just bounces you, so we are suspectible

[2021-08-08 09:37] #137 closed

[2021-08-11 10:24] TheAifam5 opened #139 "Incompatible with Deno 1.13.0"
# Issue

Setup:

- Deno Version: 1.13.0
- v8 Version: 9.3.345.11
- Typescript Version: 4.3.5
- Opine Version: 1.7.1

## Details
Deno updated error definitions which is incompatible with `http_errors` (i suspect). Has been introduced in https://github.com/denoland/deno/pull/10702
The error message I get:
[code]

[2021-08-12 09:18] hmt commented on #139
Yikes, Google didn't find this issue. I had to `deno upgrade --version 1.12.2` and it works again.

[2021-08-12 19:11] thunderk commented on #139
I opened an issue on http_errors for it: https://github.com/ako-deno/http_errors/issues/4

I think that `accepts` should also be bumped, as they released a fix for this problem as well: https://github.com/ako-deno/accepts/blob/2.1.1/History.md

[2021-08-12 19:31] cmorten commented on #139
Slipped on my phone and closed 😅

Great sleuthing @thunderk - maybe we can raise a PR to fix http_errors and then hopefully can get something raised to make the various dep upgrades to opine.

[2021-08-13 07:13] thunderk commented on #139
PR is ready for `http_errors` (https://github.com/ako-deno/http_errors/pull/5), waiting for a merge.
Once its done, I can propose a PR here with the deps upgrades.

[2021-08-14 09:11] ngdangtu-vn commented on #139
I wish I could do that. I got os error 5 (permission denied in Windows 10 - yep even I ran powershell as admin) and now I'm stuck!. Cannot backward and cannot forward... I guess see you guys next year?

[2021-08-14 10:18] cmorten commented on #139
If you are unable to use the `deno upgrade --version` flag on Windows 10 I would definitely report that as an issue on https://github.com/denoland/deno/issues

[2021-08-16 17:17] cmorten commented on #139
Going by https://github.com/denoland/deno/issues/11713#issuecomment-899049214 we might be lucky and will be resolved in Deno core in a patch release today. Upgrading the deps is still a good exercise to do.

[2021-08-17 07:51] #139 closed

[2021-08-28 20:21] creeperkafasi opened #141 "Calling req.body.read() in a post or put method crashes deno"
# Calling Request.body.read() in a post or put method crashes deno

Setup:

- Deno Version: 1.13.2 (release, x86_64-unknown-linux-gnu) *(compiled from source with cargo)*
- v8 Version: 9.3.345.11
- Typescript Version: 4.3.5
- Opine Version: @1.7.2

## Details

I have this code and I want to read the contents of a post request body:
[code]

<details>
<summary>When I send a post request to the serve

[2021-08-28 20:28] cmorten commented on #141
Curious! The error is coming from the std/http lib module which Opine uses, but worth checking that not doing something strange with the body in Opine…

Be curious to know if is reproduceable with just the std/http lib (outside of Opine).

[2021-09-21 06:35] WayneChang65 opened #143 "Incompatible with Deno 1.14.0"
# Issue

Setup:

- Deno Version: 1.14.0 (release, x86_64-apple-darwin)
- v8 Version: 9.4.146.15
- Typescript Version: 4.4.2
- Opine Version: 1.7.2

## Details

It seems incompatible with Deno 1.14.0.
I run the example and the result shows below.

## Deno 1.14.0 Error occured
<img width="1280" alt="截圖 2021-09-21 14 28 05" src="https://user-images.githubusercontent.com/33888917/134122153-01f3fbff-48

[2021-09-21 06:40] cmorten commented on #143
Hey @WayneChang65 👋

For now you can work around the issue with `std@0.105.0` being incompatible with Deno `1.14.0` by using the `--no-check` flag.

We just need to upgrade some of the deps to unblock this - problem with the std lib not being stable yet!

[2021-09-21 06:42] WayneChang65 commented on #143
OK. Thanks for the great project.

[2021-09-21 07:05] cmorten commented on #143
Reopening until change CI to test on 1.14.0 and release the fox to a tag.

[2021-09-21 17:46] cmorten commented on #141
@creeperkafasi sorry took so long to look into this a bit more.

In this instance it is a case of the std lib's buffer read implementation not giving you back a particularly good error message 😅 the `read(p: Uint8Array)` requires you to pass a `Uint8Array` to which the stream can be read into. For example, we can fix up your example as follows:

[code]

If you want to look into the method a bit mo

[2021-09-21 17:46] #141 closed

[2021-09-21 17:47] cmorten commented on #143
@WayneChang65 please see https://deno.land/x/opine@1.8.0 which should resolve the issue.

[2021-09-21 17:47] #143 closed

[2021-10-13 22:56] LuisMayo opened #144 "Dependency error, no exported member default for several dependencies"
# Issue

Setup:

- Deno Version: deno 1.15.1 (release, x86_64-pc-windows-msvc)
- v8 Version: v8 9.5.172.19
- Typescript Version: typescript 4.4.2
- Opine Version: 1.8.0

## Details

When starting a project using opine, the typescript compiler throws some errors. This errors only happen each time something in the code has changed. Which means that the first time the code won't run, but the consecut

[2021-10-14 18:46] cawoodm opened #145 "Cross-Platform Path Separatores in serveStatic"
# Issue

Setup:

- deno 1.14.3 (release, x86_64-pc-windows-msvc)
- v8 9.4.146.19
- typescript 4.4.2
- Opine Version: 1.8.0

## Details

The path separator `\` for windows is inconsistently applied in `serveStatic.ts` and `send.ts`. In particular `hasTrailingSlash()` assumes `/` whereas the path which has been `normalize()` contains (and may end with) `\`.

![image](https://user-images.githubuserco

[2021-10-16 19:12] cawoodm opened #146 "TS2305 ERROR in deps.ts with range-parser default export"
# Issue
`deps.ts` is importing/exporting a default where none exists in `range-parsers@1.2.1`:

Setup:

- Deno Version: deno 1.15.1 (release, x86_64-pc-windows-msvc)
- v8 Version: v8 9.5.172.19
- Typescript Version: typescript 4.4.2
- Opine Version: 1.8.0

## Details

It's weird because this code works on a different machine just fine.

[2021-10-20 18:04] tiloio commented on #146
I solved this via using a tsconfig.json:
[code]

And doing `deno run --allow-env --allow-read --allow-net --config ./tsconfig.json path/to/your/file`.

The reason is that "https://cdn.skypack.dev/ms@2.1.2?dts" needs it. See error message:
[code]

[2021-11-13 17:40] waghanza opened #147 "Bug on deno std, or opine ???"
Hi @asos-craigmorten,

Trying to add `opine` to https://github.com/the-benchmarker/web-frameworks. I am facing the following error
[code]

Setup:

- Deno Version: `1.16.1` (**alpine**)
- v8 Version: `9.7.106.2`
- Typescript Version:  `4.4.2`
- Opine Version: `1.9.0`

Source code:

[code]

Regards,

[2021-11-14 18:27] yacinehmito commented on #147
I've just been hit by the same issue.

[2021-11-14 20:29] #147 closed

[2021-11-14 20:36] cmorten commented on #147
Hey folks 👋

Thanks for flagging this - hopefully https://deno.land/x/opine@1.9.1 resolves the issue. Please reopen if otherwise!

I suspect [Opine will benchmark fairly low on that list](https://github.com/asos-craigmorten/opine/pull/148#issuecomment-968357835) 😅 contrary to efforts on the Deno std lib, with Opine the focus was always feature support over performance... perhaps should try to reme

[2021-11-14 20:41] saipasha commented on #147
Thank you for the fast action. I just ran into the same issue.

[2021-11-14 21:06] yacinehmito commented on #147
Thank you very much.

[2021-11-28 16:58] #115 closed

[2021-12-14 19:34] sh0tx420 opened #150 "Outdated dependencies"
# Issue

Setup:

- Deno Version: v1.16.4 + various older versions
- v8 Version: 9.7.106.15
- Typescript Version: 4.4.2
- Opine Version: 2.0.0

## Details
The dependencies are outdated. Latest std version is 0.117.0. The old std version's code in the async module causes the first error, but it is probably fixed in the latest version. Not sure about the other dependencies however.

Edit: apparently

[2021-12-17 14:22] jeremythille opened #151 "Some (but not all) static files fail to be served - ERR_CONTENT_LENGTH_MISMATCH"
# Issue

Setup:

- Deno Version: 1.17 (updated today)
- v8 Version: Not sure, the one shipped with Deno 1.17?
- Typescript Version: 4.5
- Opine Version: 2.0.0

## Details

I am using Opine to serve my Angular application's static files. Angular's "dist" folder contains :

[code]

My server code :
[code]

## Result :

When I  localhost:8090, some files get loaded, some don't :

[code]
No error in t

[2021-12-31 16:04] xyzshantaram commented on #151
@jeremythille Hi! I've run into the same issue, and I'm wondering if you've found a workaround yet -- this is kind of a deal breaker...

[2021-12-31 16:06] jeremythille commented on #151
@ No, actually I tried to remove Opine altogether and serve my files just with Deno, without a library, and so far it works well

[2021-12-31 16:42] cmorten commented on #151
Heya @xyzshantaram, @jeremythille 👋

Do you have a minimal reproduceable example / gist / repo that I can use to try and debug this issue?

[2021-12-31 16:58] #150 closed

[2021-12-31 16:58] #27 closed

[2021-12-31 17:18] jeremythille commented on #151
Ha, no sorry (and it's new year's eve, and then I'm going on a trip so I don't really have time to set up a repo now). But I've put my whole server code in my original question, apart from the Angular files which are really generic HTML/CSS/JS files. Thanks for looking into this issue, and of course, happy new year :)

[2021-12-31 17:58] xyzshantaram commented on #151
@jeremythille That will work for a bit, I suppose.
@cmorten I can try to write one for you, it's a bit late where I am but I will try to post it by tomorrow!

[2021-12-31 18:38] xyzshantaram commented on #151
@cmorten -- Here you go! https://github.com/xyzshantaram/opine-content-length-bug

[2022-01-01 11:12] cmorten commented on #151
Thanks for the great repro @xyzshantaram!

I've identified the issue - with some of the changes moving to the new std/http server for `2.0.0` of opine a regression has been introduced where served files are now being closed before the stream has finished reading them.

![Problem code where resources are closed just after the respond call is made in response.ts](https://user-images.githubuserconten

[2022-01-01 18:42] #145 closed

[2022-01-01 18:42] #151 closed

[2022-01-01 18:47] cmorten commented on #145
Hey @cawoodm 👋

I _think_ I've released a fix for this, but could have missed somewhere! Would you be able to check if you still have the same issues with `opine@2.0.2`?

[2022-01-01 18:48] cmorten commented on #151
Hey @jeremythille @xyzshantaram I've just released `2.0.2` which I believe fixes the issue. If not please do reopen!

[2022-01-05 09:00] jeremythille commented on #151
Hi Craig, thanks for the follow-up and the quick maintenance. Will try to
test it later today or tomorrow. Cheers

On Sat, 1 Jan 2022 at 19:48, Craig Morten ***@***.***> wrote:

[2022-01-05 18:06] xyzshantaram commented on #151
Ah, crap, I forgot to respond to this! @cmorten thanks a lot for the prompt fix, it worked perfectly! <3

[2022-01-10 03:16] xyzshantaram opened #154 "Getting a plain Deno Request object from an OpineRequest?"
Any way to do this? I'd like to use Opine with Deno's built-in WebSockets functionality.

[2022-01-10 07:50] cmorten commented on #154
Hey @xyzshantaram :wave:

Unfortunately not currently, the underlying request is currently private, but this is certainly a good use-case so we should expose it 🙂

[2022-01-10 08:55] xyzshantaram commented on #154
I looked into how Oak does it, and we could do it their way:

[code]

In our case, it would look something like

[code]

and `req.upgrade()` might look something like this:

[code]

[2022-01-10 10:08] xyzshantaram commented on #154
Did some digging. Looks like it just sets some headers (Connection, Upgrade, and Sec-Websocket-Accept) and the status 101. I'll try to write a proof-of-concept PR later.

[2022-01-10 10:36] cmorten commented on #154
Sounds great @xyzshantaram 🎉 look forward to the PoC

[2022-01-10 12:45] xyzshantaram commented on #154
Made a PoC. It's not the best that we have to have `wsUpgrade` exposed, but sadly simply copying over the headers and status code didn't work.

Run the server with:
[code]

And there's a basic client that you can run with:
[code]

Heads up: The client fails gracelessly if you don't start the server beforehand.

[2022-01-10 13:33] cmorten commented on #154
I’ll try have a bit of a look later (work busy today!) - appreciate the investigation so far 🙌

[2022-01-10 21:57] cmorten commented on #154
Hey, @xyzshantaram I've left a comment on your spike (https://github.com/xyzshantaram/opine/commit/0c55185fb953775a8c9ec9cb5403fd7bd08dfe71#r63432751) - I've got a feeling we can avoid the need for a `response.wsUpgrade` intermediately by just responding there and then in call to `.upgrade()`, otherwise think looks good.

Do you fancy raising a PR? No worries if not 😄

[2022-01-11 06:29] xyzshantaram commented on #154
You were right! :D I've fixed that, and made a PR.

[2022-02-20 13:53] yourfriendoss opened #156 "JSON middleware does not work on Deno Deploy"
# Issue

## Setup:

- Deno Version: 1.17.1 (release, x86_64-pc-windows-msvc)
- v8 Version: 9.7.106.15
- Typescript Version: 4.5.2
- Opine Version: 2.1.1

## Details

### Error:
[code]
Error occurs when sending a payload to a endpoint.

### Code:
[code]

[2022-02-20 22:16] #156 closed

[2022-02-20 22:26] cmorten commented on #156
Thanks for the fix @yourfriendoss - released in https://deno.land/x/opine@2.1.2

[2022-02-24 14:53] ClimenteA opened #158 "How to read a request received from a html form?"
I didn't figure it out how to process a request from an html form.

How a handler for this form would look like?

[code]

[2022-02-25 11:20] yourfriendoss opened #159 "FormData parser middleware is missing"
# Details

A formData parser should be implemented. the deno Request contains a formData property which you could parse formdata with but I don't want to expose request so it seems that MultipartParser from std/io would be the best option.

## What do you do think?

[2022-02-25 11:28] asos-craigmorten commented on #158
There is currently no built-in way to parse `multipart/form-data` from an Opine server, you have to parse the `req.body` yourself in a custom middleware.

It should be reasonably straightforward to expose the `Request.formData()` API from the underlying `Request` object to achieve this.

Related: https://github.com/cmorten/opine/issues/159

[2022-02-25 18:26] yourfriendoss opened #162 "Deno.Buffer will be deprecated in Deno 2.0"
Deno.Buffer should be replaced with [std/io/buffer](https://deno.land/std/io/buffer.ts) instead. Deno.Buffer is used in the bodyParser tests. This should probably be fixed once #161 is implemented.

[2022-03-12 21:00] cmorten commented on #162
Removed in 5c388e9e5e0ac81c89bc255b7550ab21560ee79c

[2022-03-12 21:00] #162 closed

[2022-03-12 21:02] cmorten commented on #158
Closing this as a dupe in favour of #159

[2022-03-12 21:02] #158 closed

[2022-03-12 21:03] cmorten commented on #134
Closing for now as stale - if still facing issues can happy reopen 😄 contributions also welcome!

[2022-03-12 21:03] #134 closed

[2022-03-19 12:54] AEtheve opened #164 "Type incompatibility with Deno 1.20.1"
# Issue

Setup:

- Deno Version: 1.20.1
- v8 Version: 10.0.139.6
- Typescript Version: 4.6.2
- Opine Version: 2.1.4

## Details
There is a type incompatibility with Deno 1.20.1 for listenAndServeTls :
[code]

[2022-03-19 12:59] AEtheve commented on #164
I fixed it temporarily by replacing
`if (isTls) {` in application.ts
 with :
`if (isTls && typeof options.certFile == "string" && typeof options.keyFile == "string") {`

[2022-03-20 11:45] cmorten commented on #164
Yeah seems types just slightly mismatching now.

ListenTlsOptions have all pertinent keys as optional https://doc.deno.land/deno/stable/~/Deno.ListenTlsOptions which is inherited by opine’s HTTPSOptions https://github.com/cmorten/opine/blob/main/src/types.ts#L22 so isTls isn’t quite cutting it anymore.

Think solution would be to adjust HTTPSOptions defined in opine’s types to have the key and cer

[2022-03-20 15:48] AEtheve commented on #164
Ok, fine, that's what I thought, thanks.

[2022-03-20 21:13] #164 closed

[2022-05-01 18:35] cawoodm commented on #164
Sorry, what's the fix here? I'm getting this error with opine 2.1.4 AFAIK the latest version.

[2022-06-14 17:26] michaellindstromm opened #168 "Opine can't find template views on Deno Deploy"
# Opine can't find template views on Deno Deploy

Setup:

- Deno Version: 1.22.3
- v8 Version:
- Typescript Version:
- Opine Version: 2.2

## Details
repo: https://github.com/michaellindstromm/tech-stack-template
deno deploy url: https://michaellindstromm-tst.deno.dev/

Trying to just setup a boilerplate with some different tech I have wanted to try. I have tried a number of different ways, but ca

[2022-06-14 21:32] michaellindstromm commented on #168
Oh I found it, Deno Deploy does not support Deno.statSync. Any reason to use statSync over a Deno Deploy supported fs api method?

https://github.com/cmorten/opine/blob/07f563a3884b1575e45cfc015bc4cbfe77ae95e3/src/view.ts#L19
https://deno.com/deploy/docs/runtime-fs

[2022-06-14 22:01] cmorten commented on #168
Ah good find - most likely because this code predates Deno Deploy IIRC 😅

Suspect the code could be updated to be async using `Deno.stat` but would need to have more of an explore. PRs very welcome if want to give it a go!

[2022-06-18 15:48] jly36963 commented on #40
What was the decision on this? I'm wanting to write a response-time middleware in one of the following ways:
- [use events / lifecycle hooks](https://stackoverflow.com/a/68421619)
- [treat the middleware like a stack](https://github.com/oakserver/oak/blob/17d9e615825c9886f3ff7bbea7dd43f0a961e654/examples/proxyServer.ts#L70)

To log response-time in opine, is there a way to do the following without

[2022-06-20 08:17] asos-craigmorten commented on #40
@jly36963 no decision as such 🙃 issue remained unchanged and not worked on for over a year so closed as stale. If it's something you're keen on / have ideas on implementation then happy to reopen! 😄

[2022-06-20 18:53] jly36963 commented on #40
@asos-craigmorten If I can find a simple solution I'll open a PR 😄

[2022-06-25 18:42] mattn opened #169 "[QUESTION] how to send ReadableStream<Uint8Array>?"
I'm trying to send image data which is given from S3 using [deno_s3](https://github.com/lucacasonato/deno_s3/) like below.

[code]

Can I get this?

[2022-07-21 15:45] TigerbyteDev opened #170 "Requested module doesn't provide required data"
# Issue

Setup:

- Deno Version: 1.23.3 (release, x86_64-unknown-linux-gnu)
- v8 Version: 10.4.132.8
- Typescript Version: 4.7.4
- Opine Version: 0.21.2

## Details
When importing the module, I'm getting the following error:
[code]

[2022-07-22 07:24] asos-craigmorten commented on #170
Hi @TigerbyteDev :wave:

The latest version of Opine is `2.2.0`, `0.21.2` is quite old and the `evt` package has long since been taken out of the dependencies. Try importing https://deno.land/x/opine@2.2.0 instead.

[2022-07-22 07:26] #170 closed

[2022-07-23 22:47] devalexqt opened #171 "How to upload file??"
How to upload big file 1G ?

[2022-08-26 16:42] #40 closed

[2022-08-27 08:34] cmorten commented on #168
Have updating to use `Deno.stat()` in https://github.com/cmorten/opine/releases/tag/2.3.2

Hopefully this resolves the issue.

[2022-08-27 08:34] #168 closed

[2022-08-27 08:34] cmorten commented on #159
Not looking to implement new features beyond that of Express (or bugfixes).

This can be done as a third party middleware module.

[2022-08-27 08:34] #159 closed

[2022-08-27 08:45] cmorten commented on #171
Opine doesn't provide out of the box behaviours for large files, you will need to either write custom code to consume the request yourself or use a third party middleware for processing.

Refer to docs on `req.body` --> https://github.com/cmorten/opine/blob/main/.github/API/request.md#reqbody

As the body is large, would not recommend reading it all into memory as the example suggests, but instead

[2022-08-27 08:45] #171 closed

[2022-08-27 08:55] cmorten commented on #169
Opine is using the Deno std library for responding to requests, which in turn makes use of the `Response` Web API which supports `ReadableStream<Uint8Array>` for it's `ResponseInit` https://github.com/cmorten/opine/blob/main/src/request.ts#L88

Is `res.send()` not working for you? If you can share an error etc. this would be useful.

[2022-08-27 09:00] cmorten commented on #169
I _think_ I've pushed a fix so you can pass `ReadableStream` to `res.send()` please could you test it out and confirm?

Failing that it might be worth trying to pass to `res.end()` directly.

Please reopen if the issue isn't resolved in https://github.com/cmorten/opine/releases/tag/2.3.3.

[2022-08-27 09:00] #169 closed